/*****************************/
/*****************************/
/**** CUSTOM PRODUCT CARD ****/
/*****************************/
/*****************************/

.product-card{
	height: 324px;
	background: #fff;
}
.img-product-sm{
	width: 200px;
	height: 200px;
	border-radius: 4px;
	overflow: hidden;
}
.img-product-sm img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-fit: contain;
}
.img-product-md{
	width: 215px;
	height: 215px;
	border-radius: 4px;
	overflow: hidden;
}
.img-product-md img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-fit: contain;
}

.label-diskon{
	padding: 3px 8px;
	background: #EF0F0F;
	color: #fff;
	border-radius: 4px;
	font-family: 'Lato-Bold';
	font-size: 10px;
}

.card-sm{
	width: 215px;
	height: 215px;
	background: #e0e0e0;
	border-radius: 4px;
	background-size: 100%;
	background-repeat: no-repeat;
	object-fit: cover;
	object-fit: contain;
	overflow: hidden;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	a{
		margin: 0;
		text-decoration: none;
	}
	a:hover{
		text-decoration: none;
	}
	.show-all{
		position: relative;
		top: 145px;
		width: 100%;
		height: 37px;
		border: solid 1px #fff;
		background-color: rgba(255, 255, 255, 0.9);
		display: none;
		a{
			font-family: 'Lato-Bold',sans-serif;
			font-size: 14px;
			color: rgba(0, 0, 0, 0.54);
			padding: 10px 16px;
			display: inline-block;
		}
		.fa-angle-right{
			font-size: 18px;
			float: right;
			position: relative;
			top: 13px;
			right: 11px;
		}
	}
	.desc-card{
		position: relative;
		width: 100%;
		display: inline-block;
		bottom: 31px + 16px;
		padding-left: 16px;
		.img-store{
			position: relative;
			width: 32px;
			height: 32px;
			display: block;
			float: left;
			margin-right: 10px;
			img{
				border-radius: 32px;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-fit: contain;
			}
		}
		p{margin: 0;padding: 0;line-height: normal;}
		.name-store{
			font-size: 14px;
			font-family: 'Lato-Bold';
			color: #fff;
		}
		.loc-store{
			font-size: 12px;
			color: #fff;
		}
	}
}
#result_produk .card-sm{
	width: 200px;
	height: 200px;
}
#result_produk .col-md-3{
	padding: 0;
}
#result_toko .col-md-4{
	padding: 0;
}
.col-margin{
	.col-md-4{margin-top: 24px;}
	.col-md-3{margin-top: 24px;margin-right: 0px;}
}
#result_toko .card-sm{
	width: 275px;
	height: 200px;
}
#result_toko .card-sm::before{
	position: absolute;
	width: 275px;
	height: 200px;
	content: "";
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.69));
	border-radius: 4px;
}
#category .card-sm:hover .show-all{
	display: block;
}

.category{
	position: relative;
	left: 114px;
	top: 8px;
	padding: 8px 16px;
	background: #fff;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Lato-Regular',sans-serif;
	color: rgba(0, 0, 0, 0.7);
	width: 93px;
	height: 35px;
	border-radius: 23px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
	border: solid 1px #e0e0e0;
	display: block;
}

.card-lg{
	width: 100%;
	height: 374px;
	border-radius: 4px;
	background: #e0e0e0;
	background-size: 100%;
	background-repeat: no-repeat;
}
.card-xs{
	width: 175px;
	height: 175px;
	border-radius: 4px;
	background: #e0e0e0;
	background-size: 100%;
	background-repeat: no-repeat;
}
.card-md{
	width: 374px;
	height: 220px;
	border-radius: 4px;
	background: #e0e0e0;
	background-size: 100%;
	background-repeat: no-repeat;
}
.rate {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
	float: left;

}
.rating{
	span{
		color: rgba(0, 0, 0, 0.38);
	}
	input {
		display: none;
	}

	label {
		float: right;
		font-size: 0;
		color: #d9d9d9;
		margin-right: 3px;
	}

	label:before {
		content: "\f005";
		font-family: FontAwesome;
		font-size: 14px;
	}

	label:hover,
	label:hover ~ label {
		color: #fcd000;
		transition: 0.2s;
	}

	input:checked ~ label {
		color: $yellow;
	}

	input:checked ~ label:hover,
	input:checked ~ label:hover ~ label {
		color: #fcd000;
		transition: 0.2s;
	}
}



.price{
	font-family: 'Lato-Bold',sans-serif;
	color: #f57224;
}
.city{
	color: rgba(0, 0, 0, 0.38);
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
	width: 40px;
	height: 40px;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 20px;
	outline: none;
	top: 88px;
	span{
		position: relative;
		bottom: 9px;
		font-size: 36px;
		color: #e0e0e0;
	}
}
.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover{
	background-color: #f7f7f7;
}
.owl-carousel .owl-nav button.owl-prev{
	position: absolute;
	left: -25px;
}
.owl-carousel .owl-nav button.owl-next{
	position: absolute;
	right: -25px;
}

.nav-tabs{border-bottom: 1px solid #e0e0e0}
.nav-tabs>li>a{
	font-family: 'Lato-Bold',sans-serif;
	font-size: 16px;
	margin:0;
	line-height: normal;
	color: rgba(0, 0, 0, 0.7);
	border-radius:0;
	padding: 10px 16px;

}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #005fba;
	cursor: pointer;
	background-color: #fff;
	border:none;
	border-bottom: 2px solid #005fba; 
}

// X-Zoom
.xzoom-thumbs{
	text-align: unset;
}
.xzoom-thumbs a{
	display: inline-block;

}
.xzoom{
	-webkit-box-shadow: unset;
	-moz-box-shadow: unset;
	box-shadow: unset;
	border-radius: 3px;
	border: solid 1px #e0e0e0;
	padding: 4px;
}
.xzoom-gallery{padding: 3px;border-radius: 3px;border: solid 1px #e0e0e0;}


.card-lg{
	.title{
		font-family: 'Lato-Light';
		font-size: 48px;
		color:rgba(0, 0, 0, 0.7);
		display: block;
	}
	.sub-title{
		font-family: 'Lato-Light';
		font-size: 24px;
		color:rgba(0, 0, 0, 0.7);
		display: block;
	}
}

.card-xs{
	.title{
		font-family: 'Lato-Regular';
		font-size: 16px;
		color:rgba(0, 0, 0, 0.7);
		display: block;
	}
	.sub-title{
		font-family: 'Lato-Regular';
		font-size: 14px;
		color:rgba(0, 0, 0, 0.7);
		display: block;
	}
	.price{
		font-size: 16px;
	}
}

.item{
	.detail-price .discount s{
		font-size: 11px;
	}
}