$colors: (
	red: #DB2828,
	orange: #F2711C,
	yellow: #FBBD08,
	olive: #B5CC18,
	green: #21BA45,
	teal: #00B5AD,
	blue: #2185D0,
	violet: #6435C9,
	purple: #A333C8,
	pink: #E03997,
	black: #302e2b,
	peach:#f0b088,
	grey:#ebe9e9
	);

.color{
	input[type="radio"] {
		display: none;
		&:checked + label {
			span::before { 
				background: #c8e4ff;
				border: 1px solid #0068cc; 
			}
  		} // !&:checked + label
  	}
  	label {
  		display: inline-block;
  		width: 18px;
  		height: 18px;
  		margin-right: 26px;
  		cursor: pointer;
  		&:hover {
  			span::before { 
  				background: #c8e4ff;
  				border: 1px solid #0068cc; 
  			}
  		}
  		span {
  			position: relative;
  			display: block;
  			width: 100%;
  			height: 100%;
  			transition: transform .2s ease-in-out;
  			@each $name, $value in $colors {
  				&.#{$name} {
  					background: $value;
  					border-radius: 100%;
  				}
  			}
  		}
  		span::before{
  			position: absolute;
  			display: block;
  			content:"";
  			width: 32px;
  			height: 32px;
  			background: #fff;
  			border-radius: 100%;
  			border:1px solid #e0e0e0;
  			left:0;
  			z-index: -1;
  			margin: -7px -7px;
  		}
  	}
  }
  .size{
  	input[type="radio"] {
  		display: none;
  		&:checked + label { 
  			background: #c8e4ff;
  			border: 1px solid #0068cc; 
  		} // !&:checked + label
  	}
  	label {
  		font-family: 'OpenSans-Regular';
  		font-size: 14px;
  		color: rgba(0, 0, 0, 0.7);
  		display: inline-block;
  		margin-right: 8px;
  		cursor: pointer;
  		border: 1px solid #e0e0e0;
  		width: 45px;
  		height: 32px;
  		text-align: center;
  		border-radius: 	18px;
  		padding: 4px 0px;
  		&:hover {
  			background: #c8e4ff;
  			border: 1px solid #0068cc; 
  		}
  		
  	}
  }

// Detail Product
.detail-price{
	.discount{
		font-family: 'OpenSans-Regular';
		color: rgba(0, 0, 0, 0.38);
		s{
			font-size: 16px;
		}
	}
	.percentage{
		font-family: 'OpenSans-Bold';
		font-size: 10px;
		color: #fff;
		width: 57px;
		height: 20px;
		border-radius: 4px;
		background-color: #c62525;
		padding: 3px 8px;
		vertical-align: middle;
	}
	.total{
		font-family: 'OpenSans-Bold';
		font-size: 24px;
		color: #f57224;
	}
}

.scan-qr{
	width: 470px;
	height: 104px;
	border-radius: 4px;
	border: solid 1px #e0e0e0;
	.qr-code{
		float: left;
		display: block;
		width: 89px;
		height: 89px;
		background: #e0e0e0;
		margin:7px;
	}
}

.information{
	position: relative;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	padding: 8px 0px;
	float: left;
	.list{
		width: 145px;
		position: relative;
		float: left;
		display: block;
		padding-left: 36px;
		input{
			border: none;
			position: relative;
			width: 100%;
			outline: none;
		}
	}
	.line-vertical-sm{position: absolute;}
	.line-vertical-sm-full{
		position: absolute;
		height: 100%;
	}
}
.left{
	float: left;
}
.super{
	font-family: 'OpenSans-Regular';
	font-size: 11px;
	color: rgba(0, 0, 0, 0.54);
}

#estimated{
	.list{padding-left: 16px;}
}

// Review

.wrap-comment{
	position: relative;
	border-radius: 3px;
	border: solid 1px #e4e4e4;
	float: left;
	width: 100%;
	display: inline-block;
	padding: 15px;
	margin-bottom: 16px;
	.info-comment{
		position: relative;
		display: inline-block;
	}
	.profile{
		position: relative;
		width: 35px;
		height: 35px;
		float: left;
		img{
			border-radius: 32px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-fit: contain;
		}
	}
	.profile-rounded{
		position: relative;
		width: 35px;
		height: 35px;
		float: left;
		img{
			border-radius: 3px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-fit: contain;
		}
	}
	.desc{
		position: relative;
		float: left;
		margin-left: 10px;
		.comment-name{
			font-family: "OpenSans-Bold";
			color: rgba(0, 0, 0, 0.7);
			font-size: 12px;
		}
		.comment-date{
			font-family: "OpenSans-Regular";
			font-size: 12px;
			color: rgba(0, 0, 0, 0.38);
		}
	}
	.body-comment{
		position: relative;
		display: inline-block;
		margin-bottom: 15px;	
		width: 100%;
	}
	.reply-comment{
		position: relative;
		left: 0;
		width: 100%;
		background: #fafafa;
		padding-left: 50px;
	}
	.footer-comment{
		p{
			display: block;
			font-family: 'OpenSans-Regular';
			font-size: 11px;
			float: left;
			margin-top: 18px;
		}
		.icon{
			 width:11px;
  			height: 11px;
  			margin-right: 4px;
  			top: 2px;
		}
		button{
			margin-top: 10px;
			display: block;
			float: left;
			font-family: 'OpenSans-Regular';
			font-size: 11px;
			color: rgba(0, 0, 0, 0.54);
			margin-left: 16px;
			margin-right: 10px;
		}
	}
}
#diskusi{
	.wrap-comment{
		padding: 0;
	}
	.info-comment{
		padding: 15px 15px 0px 15px;
	}
	.body-comment{
		padding-left: 15px;
		padding-top: 15px;
	}
	.reply-comment{
		padding-top: 15px;
		border-bottom: 1px solid #e4e4e4;
		.body-comment{
			padding-left: 0;
			padding-top: 15px;
		}
	}
	.form-group{
		width: 90%;
	}
}

.tag-red{
	background: #b94a48;
	color: #fff;
}
.tag-sm{
	font-family: 'OpenSans-Regular';
	font-size: 8px;
	border-radius: 2px;
	padding: 4px;
}
