#footer{
	position: relative;
	display: inline-block;
	width: 100%;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding-top:50px;
	padding-bottom: 24px;
	z-index: 999;
	background-color: #fff;
	.footer-sticky{
		position: relative;
		padding-top: 24px;
	}
	ul{
		position: relative;
		margin-top: 16px;
	}

	ul li{
		display: inline;
		a{
			font-family: 'Lato-Regular',sans-serif;
			color: #a0a0a0;
			text-decoration: none;
			margin-bottom: 10px;
		}
	}
	.copyright{
		position: relative;
		display: block;
		float: left;
	}
	.social-media{
		position: relative;
		float: right;
		display: block;
		a{
			float: left;
			margin-right: 5px;
		}
	}

}