/*****************************/
/*****************************/
/****       HEADER        ****/
/*****************************/
/*****************************/
.sticky-top{
	width: 100%;
	height: 32px;
	background-color: #f8f8f8;
	overflow: hidden;
	ul.left{
		position: relative;
		display: block;
		float: left;
	}
	ul.right{
		position: relative;
		display: block;
		float: right;
	}
	ul li{
		display: block;
		float: left;
		margin: 0 7px;
		padding: 6px 0px;
		a{
			font-size: 12px;
			font-family: 'OpenSans-Regular',sans-serif;
			color: rgba(0, 0, 0, 0.38);
			text-decoration: none;
		}
		a:hover{
			text-decoration: none;
		}
	}
	ul li.active{
		padding: 8px 16px;
		background: $primary;
		a{
			color: #fff;
		}
	}
}

.navbar{
	width: 100%;
	height: 81px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	display: inline-block;
	margin: 0;
	z-index: 999;
	.brand{
		position: relative;
		display: block;
		padding-top: 10px;
		float: left;
	}
	ul.right{
		position: relative;
		display: block;
		float: right;
		margin-top: 26px;
	}
	ul.left{
		position: relative;
		display: block;
		float: left;
		margin-top: 26px;
		margin-left: 29px;
	}
	ul li{
		display: block;
		float: left;
		margin: 0 8px;
		padding: 6px 0px;
		a{
			font-size: 12px;
			font-family: 'OpenSans-Regular',sans-serif;
			color: rgba(0, 0, 0, 0.38);
			text-decoration: none;
		}
		a:hover{
			text-decoration: none;
		}
	}
}
.notification-cart{
	position: absolute;
	width: 18px;
	height: 14px;
	border-radius: 18px;
	background-color: #e73a3a;
	color: #fff;
	font-size: 9px;
	font-family: 'Lato-Bold';
	border: 1px solid #fff;
	text-align: center;
	padding-top: 0px;
	left: 16px;
	bottom: 16px;
}
.sign-up{
	padding: 8px 16px !important;
	border:1px solid #3ea9f5;
	border-radius: 4px;
}
.navbar ul li.dropdown a{
	color: rgba(0, 0, 0, 0.54);
}
.dropdown{
	.fa-angle-down{
		position: relative;
		font-size: 18px;
		top: 3px;
		margin-left: 10px;
		color: #666;
	}
}

.search-navbar{
	width: 639px;
	position: relative;
	display: block;
	height: 48px;
	float: left;
	margin-top: 24px;
	margin-left: 40px;
}

.cart-item{
	position: absolute;
	top: 53px;
	right: 0;
	width: 400px;
	height: 376px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	color: rgba(0, 0, 0, 0.7);
	.wrapper{
		height: 350px;
		overflow-y: auto; 
	}
	.list{
		position: relative;
		border-bottom: 1px solid #e0e0e0;
		padding: 16px;
		display: inline-block;
		width: 100%;
		p{
		float: left;
		width: 203px;
		display: block;
	}
	}
	.img-cart{
		position: relative;
		width: 40px;
		height: 40px;
		border-radius: 4px;
		overflow: hidden;
		float: left;
		margin-right: 8px;
		img{
			width: 100%;
			height: 100%;
			object-fit:content;
		}
	}
	
	.quantity{
		float: right;
		span{
			display: block;
			width: 100%;
			font-size: 12px;
		}
	}
	.show-all-cart{
		position: relative;
		width: 100%;
		height: 32px;
		display: inline-block;
		bottom: 8px;
		padding: 10px 0px;
		a{
			    color: #42b549;
    font-size: 12px;
    position: relative;
		}
	}

}


#header{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../img/bg1.jpg) no-repeat;
	background-size: 100%;
	display: inline-block;
	bottom: 5px;
}

// TOKO
.toko-wrapper{
	position: relative;
	height: 396px;
	overflow: hidden;
}
.background-toko{
	position: relative;
	width: 100%;
	height: 320px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
.background-toko::after{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.24);
}
.profile-wrapper{
	position: relative;
	bottom: 80px;
	h4{
		font-size: 20px;
		color: #fff;
		font-family: 'Lato-Bold';
	}
	.btn{
		padding: 3px 8px;
	}
	p{
		margin-top: 28px;
	}
}
.profile-toko{
	position: relative;
	width: 128px;
	height: 128px;
	border-radius: 50%;
	border: 4px solid #fff;
	overflow: hidden;
	float: left;
	margin-right: 16px;
	img{
		width: 100%;
		height: 100%;
		object-fit:contain;
	}
}

// Breadcrumb
.breadcrumb{
	background-color: unset;
li a{
	display: unset;
	font-family: 'OpenSans-Regular',sans-serif;
	font-size: 12px;
	color: #005fba;
	
}
.active{
	font-family: 'OpenSans-Regular',sans-serif;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.54);
}
}
.breadcrumb>li+li:before{
	padding: 0px 11px;
}
