.icon{
	position: relative;
	display: block;
	float: left;
	
	
}
.thumb{
 background: url(../img/thumb.svg) no-repeat;
 width: 24px;
 height: 24px;background-size: 100%;
}
.telephone{
  background: url(../img/telephone.svg) no-repeat;
  width: 24px;
  height: 24px;background-size: 100%;
}
.inbox{
  background: url(../img/inbox.svg) no-repeat;
  width: 24px;
  height: 24px;background-size: 100%;
}
.condition{
  background: url(../img/condition.svg) no-repeat;
  width: 24px;
  height: 24px;background-size: 100%;
}
.weight{
  background: url(../img/weight.svg) no-repeat;
  width: 24px;
  height: 24px;background-size: 100%;
}
.hotlist{
  background: url(../img/hotlist.svg) no-repeat;
  width: 24px;
  height: 24px;background-size: 100%;
}
.review{
  background: url(../img/review.svg) no-repeat;
  width: 24px;
  height: 24px;background-size: 100%;
}
.review-blue{
  background: url(../img/review-blue.svg) no-repeat;
  width: 24px;
  height: 24px;background-size: 100%;
}
.cart{
	background: url(../img/cart.svg) no-repeat;
	width: 18px;
	height: 18px;background-size: 100%;
}
.close{
	background: url(../img/close.svg) no-repeat;
	width: 18px;
	height: 18px;background-size: 100%;
}
.google{
	background: url(../img/google.svg) no-repeat;
	width: 20px;
	height: 20px;background-size: 100%;
}
.product{
	background: url(../img/icon-product.png) no-repeat;
	width: 24px;
	height: 24px;
	background-size: 100%;
}
.toko{
	background: url(../img/icon-toko.png) no-repeat;
	width: 24px;
	height: 24px;background-size: 100%;
}
.nav-tabs .product,
.nav-tabs .toko{
	margin-right: 6px;
}
.search{
	font-size: 18px;
  color: rgba(0, 0, 0, 0.38);
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 11px;
}


// With font awesome custom
.social-media-icons{
	position: relative;
  z-index: 1;
  float: right;
  width: 306px;
  height: 48px;
  border-radius: 24px;
  background-color: #ffffff;
  padding: 2px 25px;
  margin-top: 24px;
  p{
    position: relative;
    margin: 10px 16px 0px 0px;
    color: rgba(0, 0, 0, 0.7);
    display: block;
    float: left;
    font-size: 14px;
    font-family: 'Lato-Bold',sans-serif;
  }
  .fa {
    padding: 6px;
    font-size: 20px;
    width: 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-google-plus {
    background: #dc4e41;
    color: white;
  }


  .fa-whatsapp{
    background: #1bd741;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-pinterest {
    background: #cb2027;
    color: white;
  }

  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .fa-skype {
    background: #00aff0;
    color: white;
  }

  .fa-android {
    background: #a4c639;
    color: white;
  }

  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }

  .fa-vimeo {
    background: #45bbff;
    color: white;
  }

  .fa-tumblr {
    background: #2c4762;
    color: white;
  }

  .fa-vine {
    background: #00b489;
    color: white;
  }

  .fa-foursquare {
    background: #45bbff;
    color: white;
  }

  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }

  .fa-flickr {
    background: #f40083;
    color: white;
  }

  .fa-yahoo {
    background: #430297;
    color: white;
  }

  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }

  .fa-reddit {
    background: #ff5700;
    color: white;
  }

  .fa-rss {
    background: #ff6600;
    color: white;
  }
}

