

#filter{
	position: absolute;
    width: 258px;
    height: 100%;
    margin-top: 25px;
    #category{
        border-bottom: 1px solid #e0e0e0;
    }
    .header{
    	position: relative;
        height: 52px;
        width: 100%;

        a{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: block;
            background: #ffffff;
            text-align: left;
            padding: 16px;
            box-sizing: border-box;
            white-space: nowrap;
            cursor: pointer;
            border-radius: 4px;
            font-size: 14px;
            font-family: 'Lato-Bold',sans-serif;
            color: rgba(0, 0, 0, 0.7);
        }
    }
    .fixed-header{
        position: fixed;
        height: 54px;
        width: 258px;
        border: 1px solid #e0e0e0;
    // border-radius: 4px;
    z-index: 999;
    margin-left: -1px;
}
.form-group{
    padding: 0px 16px;
}

.category-item{
    position: relative;
    .category-name{
        position: relative;
        display: block;
        width: 100%;
        padding: 8px 16px;
        box-sizing: border-box;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        font-family: 'Lato-Regular',sans-serif;
        color: rgba(0, 0, 0, 0.54);
    }
    input{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        display: block;
    }
    .arrow-up{
        background: none;
        border:none;
        position: relative;
        float: right;
        outline: none;
    }
}
.sub-category{
    position: relative;
    .category-name{
        position: relative;
        display: block;
        width: 100%;
        padding-left: 32px;
        padding-bottom: 8px;
        padding-top: 8px;
        box-sizing: border-box;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        font-family: 'Lato-Regular',sans-serif;
        color: rgba(0, 0, 0, 0.54);
    }
    input{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        display: block;
    }
    .arrow-up{
        background: none;
        border:none;
        position: relative;
        float: right;
        outline: none;
    }

}
}
.arrow-up-down{
    position: relative;
    transform:rotate(180deg);
}
.display{
    display: block;
}
.not-display{
    display: none;
}

.empty-space{
	display: block;
    position: fixed;
    top: 81px;
    left: -1px;
    right: -1px;
    height: 24px;
    background: #ffffff;
    z-index: 9;
}

.border{
	border:1px solid #e0e0e0;
	border-radius: 4px;
}


// SIDEBAR
#sidebar{
    .owner-toko{
        position: relative;
        border: 1px solid #e0e0e0;
        border-radius: 3px;
        padding: 16px;
        img{
            width: 60px;
            height: 60px;
            border-radius: 3px;
        }
    }
    .rating{
       display: inline-block;
    position: relative;
    left: 64px;
    form{float: left;}
    span{float: left;}
    }
    .dukungan-pengiriman{
        position: relative;
        border: 1px solid #e0e0e0;
        border-radius: 3px;
        padding: 16px;
        img{
            width: 40px;
        }
    }
    ul,
    li {
        font-family: "OpenSans-Regular";
        font-size: 11px;
        color: rgba(0, 0, 0, 0.7);
      padding: 0;
      margin: 0;
      list-style: none;
  }

  ul {
      margin: 2em 0;
  }

  li {
      margin: 1em;
      margin-left: 3em;
  }

  li:before {
      content: '\f00c';
      font-family: 'FontAwesome';
      float: left;
      margin-left: -1.5em;
      color: #666;
  }
}
#sidebar .social-media-icons{
  margin:0;
  position: relative;
  float: unset;
  border-radius: 0;padding: 0;
  .fa{
    border-radius: 3px;
}
}