
$primary:#005fba;

$yellow:#ffc107;


@font-face {
	font-family: "Lato-Regular";
	src: url('../fonts/Lato/Lato-Regular.ttf');
}
@font-face {
	font-family: "Lato-Light";
	src: url('../fonts/Lato/Lato-Light.ttf');
}
@font-face {
	font-family: "Lato-Bold";
	src: url('../fonts/Lato/Lato-Bold.ttf');
}
@font-face {
	font-family: "OpenSans-Regular";
	src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
	font-family: "OpenSans-Bold";
	src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
}

*{
	padding: 0;
	margin: 0;
	font-family: 'Lato-Regular',sans-serif;
	font-size: 14px;
	letter-spacing: 0.5px;
	color: rgba(0, 0, 0, 0.7);
}

.grey{
	color: #e0e0e0;
}
.yellow{
	color: $yellow;
}
.bold-green{
	color: #42b549;
	font-weight: 800;
	font-size: 12px;
}



/*****************************/
/*****************************/
/******** CUSTOM TEXT ********/
/*****************************/
/*****************************/
p{padding: 0;margin: 0;}
a{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
	display: block;
}
b{
	font-family: 'Lato-Bold',sans-serif;
}
a:hover{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6,a{margin:0;padding: 0;}
h1{
	font-size: 28px;
}
h2{
	font-size: 24px;
	font-family: 'OpenSans-Bold',sans-serif;
	line-height: 36px;
}
h3{
	font-size: 20px;
	color:#424756;
	font-weight: 800;
}
h4{
	font-family: 'Lato-Bold',sans-serif;
	font-size: 16px;
}
h5{
	font-size: 14px;
}


.hero-header{
	font-family: 'Lato-Bold';
	font-size: 48px;
	line-height: 58px;
	margin: 0;
}
.title-h1{
	color: rgba(0,0,0,0.70);
	font-size: 24px;
	font-family: 'Lato-Bold';
	line-height: 36px;
	margin: 0;
}
.title-h2{
	color: rgba(0,0,0,0.70);
	font-size: 22px;
	font-family: 'Lato-Bold';
	line-height: 27px;
	margin: 0;
}
.title-h3{
	color: rgba(0,0,0,0.70);
	font-size: 14px;
	font-family: 'Lato-Bold';
	line-height: 17px;
	margin: 0;
}
.body-38{
	color: rgba(0,0,0,0.38);
	font-size: 14px;
	font-family: 'Lato-Regular';
	margin: 0;
}
.body-54{
	font-size: 14px;
	font-family: 'Lato-Regular';
	color: rgba(0,0,0,0.54);
}



/*****************************/
/*****************************/
/******* CUSTOM BUTTON *******/
/*****************************/
/*****************************/

.btn{background: none;}
.outline{
	border:1px solid #0160BA;
}
.block{
	background: #0160BA !important;
}
.btn-blue{
	background-color: $primary;
	color: #fff;
}
.btn-blue:hover{
	color: #fff;
}
.btn-white{
	background-color: #fff;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
	color: rgba(0, 0, 0, 0.7)!important;
}
.btn-green{
	background: #42b549;
	color: #fff;
}
.btn-green:hover{
	background: #42b549;
	color: #fff;
}
.btn-orange{
	background: #ff5722;
	color: #fff;
	&:hover{
		opacity: 0.9;
		transition: 0.5s ease-in-out;	
	}
}
.btn-border{
	color: rgba(0, 0, 0, 0.7);
	border:1px solid #e0e0e0;
}
.full{
	width: 100%;
}
.btn-sm{
	border-radius: 4px;
	font-size: 14px;
	font-family: 'Lato-Bold';
	padding: 8px 24px !important;
}
.btn-md{
	color: #fff;
	border-radius: 4px;
	font-size: 14px;
	font-family: 'Lato-Bold';
	padding: 11px 24px !important;
}
.btn-md-long{
	color: #fff;
	border-radius: 4px;
	font-size: 14px;
	font-family: 'Lato-Bold';
	padding: 11px 64px !important;
}
.btn-lg{
	color: #fff;
	border-radius: 4px;
	font-size: 14px;
	font-family: 'Lato-Bold';
	padding: 14px 40px !important;
}


.btn-number{height: 40px;}






/*****************************/
/*****************************/
/**** CUSTOM FFORM INPUT *****/
/*****************************/
/*****************************/
.form-group{
	position: relative;
	display: inline-block;
	margin-bottom: 0;
	span{
		position: relative;
		top: 2px;
	}
}
.form-control{
	border:1px solid #e0e0e0;
	border-radius: 4px;
	background: #fff;
	height: 40px;
	line-height: 40px;
	padding-left: 16px;
	margin-bottom: 8px;
}

.form-control[type=checkbox]{
	position: relative;
	display: block;
	margin-bottom: 0;
	float: left;
	justify-self: flex-end;
	border: 1px solid white;
	-webkit-appearance: none;
	width: 18px;
	height: 18px;
	border-radius: 4px;
	transition-duration: 0.3s;
	cursor: pointer;
	position: relative;
	border: 1px solid #e0e0e0;
	&:hover {
		background: white;
	}
	&:checked {
		background: $primary;
		border-color: $primary;
		border-radius: 4px;
		&::before {
			opacity: 1;
			color: rgba(#59da77, 0.5);
			right: -35%;
		}
	}
	&:focus {
		outline: none;
	}

	&:last-child{
		margin:0;
	}
}

.search-wrapper{
	position: relative;
	display: inline;
	width: auto;
	button{
		position: relative;
		display: block;
		border: none;
	}
}
.form-control:not(:valid) ~ .close-icon {
	display: none;
}
button.close-icon{
	background: none;
	outline: none;
	border: none;
	padding: 0;
	position: relative;
	float: right;
	bottom: 35px;
	right: 20px;
}
#header .search-input{
	padding-left: 54px;
	border: 2px solid #e0e0e0;
}
.search-input{
	padding-left: 54px;
	border: 1px solid #e0e0e0;
	background-color: #f8f8f8;
}
.suggested-search{
	position: absolute;
	width: 756px;
	padding: 8px 0px;
	background: #fff;
	z-index: 2;
	height: 180px;
	overflow-y:auto;
	border-radius: 4px;
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
	a{
		position: relative;
		width: 100%;
		margin: 0;
		padding: 15px 24px;
	}
}
.bootstrap-select .dropdown-menu{
	position: absolute;
	top: 0;
	height: 300px;
}

.otp{
	input{
		width: 40px;
		outline: none;
		border: none;
		border-bottom: 2px solid #e0e0e0;
		padding: 9px;
		font-size: 32px;
		color: #424756;
		margin-right: 8px;
		&:focus{
			border-bottom: 2px solid #0068cc;
		}
	}
}




.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding-left: 12px;
	padding-right: 12px;
}


/*****************************/
/*****************************/
/****       JARAK        ****/
/*****************************/
/*****************************/

@for $i from 0 through 200 {
	@if $i % 4 == 0 {
		.top-#{$i} {
			position: relative;
			top:(#{$i}px);
		}
	}
}
@for $i from 0 through 200 {
	@if $i % 4 == 0 {
		.left-#{$i} {
			position: relative;
			left:(#{$i}px);
		}
	}
}
@for $i from 0 through 200 {
	@if $i % 4 == 0 {
		.bottom-#{$i} {
			position: relative;
			bottom:(#{$i}px);
		}
	}
}

@for $i from 0 through 200 {
	@if $i % 4 == 0 {
		.mt-#{$i} {
			margin-top:(#{$i}px);
		}
	}
}
@for $i from 0 through 200 {
	@if $i % 4 == 0 {
		.ml-#{$i} {
			margin-left:(#{$i}px);
		}
	}
}
@for $i from 0 through 200 {
	@if $i % 4 == 0 {
		.mr-#{$i} {
			margin-right:(#{$i}px);
		}
	}
}
@for $i from 0 through 200 {
	@if $i % 4 == 0 {
		.mb-#{$i} {
			margin-bottom:(#{$i}px);
		}
	}
}

/*****************************/
/*****************************/
/****       Line        ****/
/*****************************/
/*****************************/


.line{
	position: relative;
	display: block;
}
.line-vertical-sm{
	width: 1px;
	background: #e0e0e0;
	height: 24px;
}
.line-horizontal-full{
	width: 100%;
	height: 1px;
	background: #e0e0e0;
}


/*****************************/
/*****************************/
/****       Other       ****/
/*****************************/
/*****************************/

#main-content{
	position: relative;
	top: 81px;
}

.star{
	position: relative;
	display: block;
	float: left;
	top: 4px;
	margin-left: 10px;
	span{
		font-size: 15px;
	}
}

.right{
	float: right;
}

.sort-by{
	float: right;
	p{	
		position: relative;
		top: 10px;
		float: left;
		margin-right: 24px;
	}
	select{
		width: 155px;
		float: right;
	}
}
.modal-header{
	padding: 19px;
	p{
		font-size: 14px!important;
	}
}
.agreement{
	p{
		font-size: 14px!important;
	}
	span{
		font-size: 14px!important;
		display: contents;
	}
	input{margin-right: 8px;}
}
.modal-login{
	position: relative;
	margin: 0 auto;
	width: 386px;
	border-radius: 8px;
	box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.12);
	background-color: #ffffff;
	.modal-header{
		border-bottom: 0;
	}
	p{
		font-size: 12px;
	}
	.link{
		font-size: 12px;
	}
	.form-control[type='text'],.form-control[type='password'],.form-control[type='email']{
		height: 40px;
	}
}
p.modal-title{
	font-size: 12px;
	font-family: 'Lato-Bold';
}
.link{
	cursor: pointer;
	color: #0068cc!important;
}
.input-icon{
	position: relative;
	display: block;
}
#toggle-view,
#toggle-view2{
	position: absolute;
	right: 16px;
	font-size: 20px;
	top: 10px;
}
.separate-text{
	text-align: center;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.7)
}
.separate-text::before{
	position: absolute;
	content: '';
	width: 40px;
	height: 1px;
	background: #e0e0e0;
	display: block;
	margin-top: 10px;
}
.separate-text::after{
	position: absolute;
	content: '';
	width: 40px;
	height: 1px;
	background: #e0e0e0;
	display: block;
	float: right;
	right: 16px;
	margin-top: -7px;
}

// Nav Tab
.nav-tabs{
	margin-top: 25px;
}

// --------------


.quote{
	position: relative;
	display: block;
	content: 'asdasd';
	font-family: 'Lato-Regular';
	font-size: 55px;
	color: #005fba;
	float: left;
	bottom: 25px;
	margin-right: 8px;
}

.separate{
	position: relative;
	background: #f8f8f8;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	padding: 8px 0px 0px 0px;
}