@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato/Lato-Regular.ttf"); }

@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato/Lato-Light.ttf"); }

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato/Lato-Bold.ttf"); }

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf"); }

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf"); }

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato-Regular',sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.7); }

.grey {
  color: #e0e0e0; }

.yellow {
  color: #ffc107; }

.bold-green {
  color: #42b549;
  font-weight: 800;
  font-size: 12px; }

/*****************************/
/*****************************/
/******** CUSTOM TEXT ********/
/*****************************/
/*****************************/
p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  display: block; }

b {
  font-family: 'Lato-Bold',sans-serif; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 28px; }

h2 {
  font-size: 24px;
  font-family: 'OpenSans-Bold',sans-serif;
  line-height: 36px; }

h3 {
  font-size: 20px;
  color: #424756;
  font-weight: 800; }

h4 {
  font-family: 'Lato-Bold',sans-serif;
  font-size: 16px; }

h5 {
  font-size: 14px; }

.hero-header {
  font-family: 'Lato-Bold';
  font-size: 48px;
  line-height: 58px;
  margin: 0; }

.title-h1 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  font-family: 'Lato-Bold';
  line-height: 36px;
  margin: 0; }

.title-h2 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 22px;
  font-family: 'Lato-Bold';
  line-height: 27px;
  margin: 0; }

.title-h3 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-family: 'Lato-Bold';
  line-height: 17px;
  margin: 0; }

.body-38 {
  color: rgba(0, 0, 0, 0.38);
  font-size: 14px;
  font-family: 'Lato-Regular';
  margin: 0; }

.body-54 {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(0, 0, 0, 0.54); }

/*****************************/
/*****************************/
/******* CUSTOM BUTTON *******/
/*****************************/
/*****************************/
.btn {
  background: none; }

.outline {
  border: 1px solid #0160BA; }

.block {
  background: #0160BA !important; }

.btn-blue {
  background-color: #005fba;
  color: #fff; }

.btn-blue:hover {
  color: #fff; }

.btn-white {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.7) !important; }

.btn-green {
  background: #42b549;
  color: #fff; }

.btn-green:hover {
  background: #42b549;
  color: #fff; }

.btn-orange {
  background: #ff5722;
  color: #fff; }
  .btn-orange:hover {
    opacity: 0.9;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }

.btn-border {
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid #e0e0e0; }

.full {
  width: 100%; }

.btn-sm {
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Lato-Bold';
  padding: 8px 24px !important; }

.btn-md {
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Lato-Bold';
  padding: 11px 24px !important; }

.btn-md-long {
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Lato-Bold';
  padding: 11px 64px !important; }

.btn-lg {
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Lato-Bold';
  padding: 14px 40px !important; }

.btn-number {
  height: 40px; }

/*****************************/
/*****************************/
/**** CUSTOM FFORM INPUT *****/
/*****************************/
/*****************************/
.form-group {
  position: relative;
  display: inline-block;
  margin-bottom: 0; }
  .form-group span {
    position: relative;
    top: 2px; }

.form-control {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background: #fff;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
  margin-bottom: 8px; }

.form-control[type=checkbox] {
  position: relative;
  display: block;
  margin-bottom: 0;
  float: left;
  justify-self: flex-end;
  border: 1px solid white;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
  position: relative;
  border: 1px solid #e0e0e0; }
  .form-control[type=checkbox]:hover {
    background: white; }
  .form-control[type=checkbox]:checked {
    background: #005fba;
    border-color: #005fba;
    border-radius: 4px; }
    .form-control[type=checkbox]:checked::before {
      opacity: 1;
      color: rgba(89, 218, 119, 0.5);
      right: -35%; }
  .form-control[type=checkbox]:focus {
    outline: none; }
  .form-control[type=checkbox]:last-child {
    margin: 0; }

.search-wrapper {
  position: relative;
  display: inline;
  width: auto; }
  .search-wrapper button {
    position: relative;
    display: block;
    border: none; }

.form-control:not(:valid) ~ .close-icon {
  display: none; }

button.close-icon {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  position: relative;
  float: right;
  bottom: 35px;
  right: 20px; }

#header .search-input {
  padding-left: 54px;
  border: 2px solid #e0e0e0; }

.search-input {
  padding-left: 54px;
  border: 1px solid #e0e0e0;
  background-color: #f8f8f8; }

.suggested-search {
  position: absolute;
  width: 756px;
  padding: 8px 0px;
  background: #fff;
  z-index: 2;
  height: 180px;
  overflow-y: auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2); }
  .suggested-search a {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 15px 24px; }

.bootstrap-select .dropdown-menu {
  position: absolute;
  top: 0;
  height: 300px; }

.otp input {
  width: 40px;
  outline: none;
  border: none;
  border-bottom: 2px solid #e0e0e0;
  padding: 9px;
  font-size: 32px;
  color: #424756;
  margin-right: 8px; }
  .otp input:focus {
    border-bottom: 2px solid #0068cc; }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 12px;
  padding-right: 12px; }

/*****************************/
/*****************************/
/****       JARAK        ****/
/*****************************/
/*****************************/
.top-0 {
  position: relative;
  top: 0px; }

.top-4 {
  position: relative;
  top: 4px; }

.top-8 {
  position: relative;
  top: 8px; }

.top-12 {
  position: relative;
  top: 12px; }

.top-16 {
  position: relative;
  top: 16px; }

.top-20 {
  position: relative;
  top: 20px; }

.top-24 {
  position: relative;
  top: 24px; }

.top-28 {
  position: relative;
  top: 28px; }

.top-32 {
  position: relative;
  top: 32px; }

.top-36 {
  position: relative;
  top: 36px; }

.top-40 {
  position: relative;
  top: 40px; }

.top-44 {
  position: relative;
  top: 44px; }

.top-48 {
  position: relative;
  top: 48px; }

.top-52 {
  position: relative;
  top: 52px; }

.top-56 {
  position: relative;
  top: 56px; }

.top-60 {
  position: relative;
  top: 60px; }

.top-64 {
  position: relative;
  top: 64px; }

.top-68 {
  position: relative;
  top: 68px; }

.top-72 {
  position: relative;
  top: 72px; }

.top-76 {
  position: relative;
  top: 76px; }

.top-80 {
  position: relative;
  top: 80px; }

.top-84 {
  position: relative;
  top: 84px; }

.top-88 {
  position: relative;
  top: 88px; }

.top-92 {
  position: relative;
  top: 92px; }

.top-96 {
  position: relative;
  top: 96px; }

.top-100 {
  position: relative;
  top: 100px; }

.top-104 {
  position: relative;
  top: 104px; }

.top-108 {
  position: relative;
  top: 108px; }

.top-112 {
  position: relative;
  top: 112px; }

.top-116 {
  position: relative;
  top: 116px; }

.top-120 {
  position: relative;
  top: 120px; }

.top-124 {
  position: relative;
  top: 124px; }

.top-128 {
  position: relative;
  top: 128px; }

.top-132 {
  position: relative;
  top: 132px; }

.top-136 {
  position: relative;
  top: 136px; }

.top-140 {
  position: relative;
  top: 140px; }

.top-144 {
  position: relative;
  top: 144px; }

.top-148 {
  position: relative;
  top: 148px; }

.top-152 {
  position: relative;
  top: 152px; }

.top-156 {
  position: relative;
  top: 156px; }

.top-160 {
  position: relative;
  top: 160px; }

.top-164 {
  position: relative;
  top: 164px; }

.top-168 {
  position: relative;
  top: 168px; }

.top-172 {
  position: relative;
  top: 172px; }

.top-176 {
  position: relative;
  top: 176px; }

.top-180 {
  position: relative;
  top: 180px; }

.top-184 {
  position: relative;
  top: 184px; }

.top-188 {
  position: relative;
  top: 188px; }

.top-192 {
  position: relative;
  top: 192px; }

.top-196 {
  position: relative;
  top: 196px; }

.top-200 {
  position: relative;
  top: 200px; }

.left-0 {
  position: relative;
  left: 0px; }

.left-4 {
  position: relative;
  left: 4px; }

.left-8 {
  position: relative;
  left: 8px; }

.left-12 {
  position: relative;
  left: 12px; }

.left-16 {
  position: relative;
  left: 16px; }

.left-20 {
  position: relative;
  left: 20px; }

.left-24 {
  position: relative;
  left: 24px; }

.left-28 {
  position: relative;
  left: 28px; }

.left-32 {
  position: relative;
  left: 32px; }

.left-36 {
  position: relative;
  left: 36px; }

.left-40 {
  position: relative;
  left: 40px; }

.left-44 {
  position: relative;
  left: 44px; }

.left-48 {
  position: relative;
  left: 48px; }

.left-52 {
  position: relative;
  left: 52px; }

.left-56 {
  position: relative;
  left: 56px; }

.left-60 {
  position: relative;
  left: 60px; }

.left-64 {
  position: relative;
  left: 64px; }

.left-68 {
  position: relative;
  left: 68px; }

.left-72 {
  position: relative;
  left: 72px; }

.left-76 {
  position: relative;
  left: 76px; }

.left-80 {
  position: relative;
  left: 80px; }

.left-84 {
  position: relative;
  left: 84px; }

.left-88 {
  position: relative;
  left: 88px; }

.left-92 {
  position: relative;
  left: 92px; }

.left-96 {
  position: relative;
  left: 96px; }

.left-100 {
  position: relative;
  left: 100px; }

.left-104 {
  position: relative;
  left: 104px; }

.left-108 {
  position: relative;
  left: 108px; }

.left-112 {
  position: relative;
  left: 112px; }

.left-116 {
  position: relative;
  left: 116px; }

.left-120 {
  position: relative;
  left: 120px; }

.left-124 {
  position: relative;
  left: 124px; }

.left-128 {
  position: relative;
  left: 128px; }

.left-132 {
  position: relative;
  left: 132px; }

.left-136 {
  position: relative;
  left: 136px; }

.left-140 {
  position: relative;
  left: 140px; }

.left-144 {
  position: relative;
  left: 144px; }

.left-148 {
  position: relative;
  left: 148px; }

.left-152 {
  position: relative;
  left: 152px; }

.left-156 {
  position: relative;
  left: 156px; }

.left-160 {
  position: relative;
  left: 160px; }

.left-164 {
  position: relative;
  left: 164px; }

.left-168 {
  position: relative;
  left: 168px; }

.left-172 {
  position: relative;
  left: 172px; }

.left-176 {
  position: relative;
  left: 176px; }

.left-180 {
  position: relative;
  left: 180px; }

.left-184 {
  position: relative;
  left: 184px; }

.left-188 {
  position: relative;
  left: 188px; }

.left-192 {
  position: relative;
  left: 192px; }

.left-196 {
  position: relative;
  left: 196px; }

.left-200 {
  position: relative;
  left: 200px; }

.bottom-0 {
  position: relative;
  bottom: 0px; }

.bottom-4 {
  position: relative;
  bottom: 4px; }

.bottom-8 {
  position: relative;
  bottom: 8px; }

.bottom-12 {
  position: relative;
  bottom: 12px; }

.bottom-16 {
  position: relative;
  bottom: 16px; }

.bottom-20 {
  position: relative;
  bottom: 20px; }

.bottom-24 {
  position: relative;
  bottom: 24px; }

.bottom-28 {
  position: relative;
  bottom: 28px; }

.bottom-32 {
  position: relative;
  bottom: 32px; }

.bottom-36 {
  position: relative;
  bottom: 36px; }

.bottom-40 {
  position: relative;
  bottom: 40px; }

.bottom-44 {
  position: relative;
  bottom: 44px; }

.bottom-48 {
  position: relative;
  bottom: 48px; }

.bottom-52 {
  position: relative;
  bottom: 52px; }

.bottom-56 {
  position: relative;
  bottom: 56px; }

.bottom-60 {
  position: relative;
  bottom: 60px; }

.bottom-64 {
  position: relative;
  bottom: 64px; }

.bottom-68 {
  position: relative;
  bottom: 68px; }

.bottom-72 {
  position: relative;
  bottom: 72px; }

.bottom-76 {
  position: relative;
  bottom: 76px; }

.bottom-80 {
  position: relative;
  bottom: 80px; }

.bottom-84 {
  position: relative;
  bottom: 84px; }

.bottom-88 {
  position: relative;
  bottom: 88px; }

.bottom-92 {
  position: relative;
  bottom: 92px; }

.bottom-96 {
  position: relative;
  bottom: 96px; }

.bottom-100 {
  position: relative;
  bottom: 100px; }

.bottom-104 {
  position: relative;
  bottom: 104px; }

.bottom-108 {
  position: relative;
  bottom: 108px; }

.bottom-112 {
  position: relative;
  bottom: 112px; }

.bottom-116 {
  position: relative;
  bottom: 116px; }

.bottom-120 {
  position: relative;
  bottom: 120px; }

.bottom-124 {
  position: relative;
  bottom: 124px; }

.bottom-128 {
  position: relative;
  bottom: 128px; }

.bottom-132 {
  position: relative;
  bottom: 132px; }

.bottom-136 {
  position: relative;
  bottom: 136px; }

.bottom-140 {
  position: relative;
  bottom: 140px; }

.bottom-144 {
  position: relative;
  bottom: 144px; }

.bottom-148 {
  position: relative;
  bottom: 148px; }

.bottom-152 {
  position: relative;
  bottom: 152px; }

.bottom-156 {
  position: relative;
  bottom: 156px; }

.bottom-160 {
  position: relative;
  bottom: 160px; }

.bottom-164 {
  position: relative;
  bottom: 164px; }

.bottom-168 {
  position: relative;
  bottom: 168px; }

.bottom-172 {
  position: relative;
  bottom: 172px; }

.bottom-176 {
  position: relative;
  bottom: 176px; }

.bottom-180 {
  position: relative;
  bottom: 180px; }

.bottom-184 {
  position: relative;
  bottom: 184px; }

.bottom-188 {
  position: relative;
  bottom: 188px; }

.bottom-192 {
  position: relative;
  bottom: 192px; }

.bottom-196 {
  position: relative;
  bottom: 196px; }

.bottom-200 {
  position: relative;
  bottom: 200px; }

.mt-0 {
  margin-top: 0px; }

.mt-4 {
  margin-top: 4px; }

.mt-8 {
  margin-top: 8px; }

.mt-12 {
  margin-top: 12px; }

.mt-16 {
  margin-top: 16px; }

.mt-20 {
  margin-top: 20px; }

.mt-24 {
  margin-top: 24px; }

.mt-28 {
  margin-top: 28px; }

.mt-32 {
  margin-top: 32px; }

.mt-36 {
  margin-top: 36px; }

.mt-40 {
  margin-top: 40px; }

.mt-44 {
  margin-top: 44px; }

.mt-48 {
  margin-top: 48px; }

.mt-52 {
  margin-top: 52px; }

.mt-56 {
  margin-top: 56px; }

.mt-60 {
  margin-top: 60px; }

.mt-64 {
  margin-top: 64px; }

.mt-68 {
  margin-top: 68px; }

.mt-72 {
  margin-top: 72px; }

.mt-76 {
  margin-top: 76px; }

.mt-80 {
  margin-top: 80px; }

.mt-84 {
  margin-top: 84px; }

.mt-88 {
  margin-top: 88px; }

.mt-92 {
  margin-top: 92px; }

.mt-96 {
  margin-top: 96px; }

.mt-100 {
  margin-top: 100px; }

.mt-104 {
  margin-top: 104px; }

.mt-108 {
  margin-top: 108px; }

.mt-112 {
  margin-top: 112px; }

.mt-116 {
  margin-top: 116px; }

.mt-120 {
  margin-top: 120px; }

.mt-124 {
  margin-top: 124px; }

.mt-128 {
  margin-top: 128px; }

.mt-132 {
  margin-top: 132px; }

.mt-136 {
  margin-top: 136px; }

.mt-140 {
  margin-top: 140px; }

.mt-144 {
  margin-top: 144px; }

.mt-148 {
  margin-top: 148px; }

.mt-152 {
  margin-top: 152px; }

.mt-156 {
  margin-top: 156px; }

.mt-160 {
  margin-top: 160px; }

.mt-164 {
  margin-top: 164px; }

.mt-168 {
  margin-top: 168px; }

.mt-172 {
  margin-top: 172px; }

.mt-176 {
  margin-top: 176px; }

.mt-180 {
  margin-top: 180px; }

.mt-184 {
  margin-top: 184px; }

.mt-188 {
  margin-top: 188px; }

.mt-192 {
  margin-top: 192px; }

.mt-196 {
  margin-top: 196px; }

.mt-200 {
  margin-top: 200px; }

.ml-0 {
  margin-left: 0px; }

.ml-4 {
  margin-left: 4px; }

.ml-8 {
  margin-left: 8px; }

.ml-12 {
  margin-left: 12px; }

.ml-16 {
  margin-left: 16px; }

.ml-20 {
  margin-left: 20px; }

.ml-24 {
  margin-left: 24px; }

.ml-28 {
  margin-left: 28px; }

.ml-32 {
  margin-left: 32px; }

.ml-36 {
  margin-left: 36px; }

.ml-40 {
  margin-left: 40px; }

.ml-44 {
  margin-left: 44px; }

.ml-48 {
  margin-left: 48px; }

.ml-52 {
  margin-left: 52px; }

.ml-56 {
  margin-left: 56px; }

.ml-60 {
  margin-left: 60px; }

.ml-64 {
  margin-left: 64px; }

.ml-68 {
  margin-left: 68px; }

.ml-72 {
  margin-left: 72px; }

.ml-76 {
  margin-left: 76px; }

.ml-80 {
  margin-left: 80px; }

.ml-84 {
  margin-left: 84px; }

.ml-88 {
  margin-left: 88px; }

.ml-92 {
  margin-left: 92px; }

.ml-96 {
  margin-left: 96px; }

.ml-100 {
  margin-left: 100px; }

.ml-104 {
  margin-left: 104px; }

.ml-108 {
  margin-left: 108px; }

.ml-112 {
  margin-left: 112px; }

.ml-116 {
  margin-left: 116px; }

.ml-120 {
  margin-left: 120px; }

.ml-124 {
  margin-left: 124px; }

.ml-128 {
  margin-left: 128px; }

.ml-132 {
  margin-left: 132px; }

.ml-136 {
  margin-left: 136px; }

.ml-140 {
  margin-left: 140px; }

.ml-144 {
  margin-left: 144px; }

.ml-148 {
  margin-left: 148px; }

.ml-152 {
  margin-left: 152px; }

.ml-156 {
  margin-left: 156px; }

.ml-160 {
  margin-left: 160px; }

.ml-164 {
  margin-left: 164px; }

.ml-168 {
  margin-left: 168px; }

.ml-172 {
  margin-left: 172px; }

.ml-176 {
  margin-left: 176px; }

.ml-180 {
  margin-left: 180px; }

.ml-184 {
  margin-left: 184px; }

.ml-188 {
  margin-left: 188px; }

.ml-192 {
  margin-left: 192px; }

.ml-196 {
  margin-left: 196px; }

.ml-200 {
  margin-left: 200px; }

.mr-0 {
  margin-right: 0px; }

.mr-4 {
  margin-right: 4px; }

.mr-8 {
  margin-right: 8px; }

.mr-12 {
  margin-right: 12px; }

.mr-16 {
  margin-right: 16px; }

.mr-20 {
  margin-right: 20px; }

.mr-24 {
  margin-right: 24px; }

.mr-28 {
  margin-right: 28px; }

.mr-32 {
  margin-right: 32px; }

.mr-36 {
  margin-right: 36px; }

.mr-40 {
  margin-right: 40px; }

.mr-44 {
  margin-right: 44px; }

.mr-48 {
  margin-right: 48px; }

.mr-52 {
  margin-right: 52px; }

.mr-56 {
  margin-right: 56px; }

.mr-60 {
  margin-right: 60px; }

.mr-64 {
  margin-right: 64px; }

.mr-68 {
  margin-right: 68px; }

.mr-72 {
  margin-right: 72px; }

.mr-76 {
  margin-right: 76px; }

.mr-80 {
  margin-right: 80px; }

.mr-84 {
  margin-right: 84px; }

.mr-88 {
  margin-right: 88px; }

.mr-92 {
  margin-right: 92px; }

.mr-96 {
  margin-right: 96px; }

.mr-100 {
  margin-right: 100px; }

.mr-104 {
  margin-right: 104px; }

.mr-108 {
  margin-right: 108px; }

.mr-112 {
  margin-right: 112px; }

.mr-116 {
  margin-right: 116px; }

.mr-120 {
  margin-right: 120px; }

.mr-124 {
  margin-right: 124px; }

.mr-128 {
  margin-right: 128px; }

.mr-132 {
  margin-right: 132px; }

.mr-136 {
  margin-right: 136px; }

.mr-140 {
  margin-right: 140px; }

.mr-144 {
  margin-right: 144px; }

.mr-148 {
  margin-right: 148px; }

.mr-152 {
  margin-right: 152px; }

.mr-156 {
  margin-right: 156px; }

.mr-160 {
  margin-right: 160px; }

.mr-164 {
  margin-right: 164px; }

.mr-168 {
  margin-right: 168px; }

.mr-172 {
  margin-right: 172px; }

.mr-176 {
  margin-right: 176px; }

.mr-180 {
  margin-right: 180px; }

.mr-184 {
  margin-right: 184px; }

.mr-188 {
  margin-right: 188px; }

.mr-192 {
  margin-right: 192px; }

.mr-196 {
  margin-right: 196px; }

.mr-200 {
  margin-right: 200px; }

.mb-0 {
  margin-bottom: 0px; }

.mb-4 {
  margin-bottom: 4px; }

.mb-8 {
  margin-bottom: 8px; }

.mb-12 {
  margin-bottom: 12px; }

.mb-16 {
  margin-bottom: 16px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-24 {
  margin-bottom: 24px; }

.mb-28 {
  margin-bottom: 28px; }

.mb-32 {
  margin-bottom: 32px; }

.mb-36 {
  margin-bottom: 36px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-44 {
  margin-bottom: 44px; }

.mb-48 {
  margin-bottom: 48px; }

.mb-52 {
  margin-bottom: 52px; }

.mb-56 {
  margin-bottom: 56px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-64 {
  margin-bottom: 64px; }

.mb-68 {
  margin-bottom: 68px; }

.mb-72 {
  margin-bottom: 72px; }

.mb-76 {
  margin-bottom: 76px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-84 {
  margin-bottom: 84px; }

.mb-88 {
  margin-bottom: 88px; }

.mb-92 {
  margin-bottom: 92px; }

.mb-96 {
  margin-bottom: 96px; }

.mb-100 {
  margin-bottom: 100px; }

.mb-104 {
  margin-bottom: 104px; }

.mb-108 {
  margin-bottom: 108px; }

.mb-112 {
  margin-bottom: 112px; }

.mb-116 {
  margin-bottom: 116px; }

.mb-120 {
  margin-bottom: 120px; }

.mb-124 {
  margin-bottom: 124px; }

.mb-128 {
  margin-bottom: 128px; }

.mb-132 {
  margin-bottom: 132px; }

.mb-136 {
  margin-bottom: 136px; }

.mb-140 {
  margin-bottom: 140px; }

.mb-144 {
  margin-bottom: 144px; }

.mb-148 {
  margin-bottom: 148px; }

.mb-152 {
  margin-bottom: 152px; }

.mb-156 {
  margin-bottom: 156px; }

.mb-160 {
  margin-bottom: 160px; }

.mb-164 {
  margin-bottom: 164px; }

.mb-168 {
  margin-bottom: 168px; }

.mb-172 {
  margin-bottom: 172px; }

.mb-176 {
  margin-bottom: 176px; }

.mb-180 {
  margin-bottom: 180px; }

.mb-184 {
  margin-bottom: 184px; }

.mb-188 {
  margin-bottom: 188px; }

.mb-192 {
  margin-bottom: 192px; }

.mb-196 {
  margin-bottom: 196px; }

.mb-200 {
  margin-bottom: 200px; }

/*****************************/
/*****************************/
/****       Line        ****/
/*****************************/
/*****************************/
.line {
  position: relative;
  display: block; }

.line-vertical-sm {
  width: 1px;
  background: #e0e0e0;
  height: 24px; }

.line-horizontal-full {
  width: 100%;
  height: 1px;
  background: #e0e0e0; }

/*****************************/
/*****************************/
/****       Other       ****/
/*****************************/
/*****************************/
#main-content {
  position: relative;
  top: 81px; }

.star {
  position: relative;
  display: block;
  float: left;
  top: 4px;
  margin-left: 10px; }
  .star span {
    font-size: 15px; }

.right {
  float: right; }

.sort-by {
  float: right; }
  .sort-by p {
    position: relative;
    top: 10px;
    float: left;
    margin-right: 24px; }
  .sort-by select {
    width: 155px;
    float: right; }

.modal-header {
  padding: 19px; }
  .modal-header p {
    font-size: 14px !important; }

.agreement p {
  font-size: 14px !important; }

.agreement span {
  font-size: 14px !important;
  display: contents; }

.agreement input {
  margin-right: 8px; }

.modal-login {
  position: relative;
  margin: 0 auto;
  width: 386px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff; }
  .modal-login .modal-header {
    border-bottom: 0; }
  .modal-login p {
    font-size: 12px; }
  .modal-login .link {
    font-size: 12px; }
  .modal-login .form-control[type='text'], .modal-login .form-control[type='password'], .modal-login .form-control[type='email'] {
    height: 40px; }

p.modal-title {
  font-size: 12px;
  font-family: 'Lato-Bold'; }

.link {
  cursor: pointer;
  color: #0068cc !important; }

.input-icon {
  position: relative;
  display: block; }

#toggle-view,
#toggle-view2 {
  position: absolute;
  right: 16px;
  font-size: 20px;
  top: 10px; }

.separate-text {
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7); }

.separate-text::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 1px;
  background: #e0e0e0;
  display: block;
  margin-top: 10px; }

.separate-text::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 1px;
  background: #e0e0e0;
  display: block;
  float: right;
  right: 16px;
  margin-top: -7px; }

.nav-tabs {
  margin-top: 25px; }

.quote {
  position: relative;
  display: block;
  content: 'asdasd';
  font-family: 'Lato-Regular';
  font-size: 55px;
  color: #005fba;
  float: left;
  bottom: 25px;
  margin-right: 8px; }

.separate {
  position: relative;
  background: #f8f8f8;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  padding: 8px 0px 0px 0px; }

.icon {
  position: relative;
  display: block;
  float: left; }

.thumb {
  background: url(../img/thumb.svg) no-repeat;
  width: 24px;
  height: 24px;
  background-size: 100%; }

.telephone {
  background: url(../img/telephone.svg) no-repeat;
  width: 24px;
  height: 24px;
  background-size: 100%; }

.inbox {
  background: url(../img/inbox.svg) no-repeat;
  width: 24px;
  height: 24px;
  background-size: 100%; }

.condition {
  background: url(../img/condition.svg) no-repeat;
  width: 24px;
  height: 24px;
  background-size: 100%; }

.weight {
  background: url(../img/weight.svg) no-repeat;
  width: 24px;
  height: 24px;
  background-size: 100%; }

.hotlist {
  background: url(../img/hotlist.svg) no-repeat;
  width: 24px;
  height: 24px;
  background-size: 100%; }

.review {
  background: url(../img/review.svg) no-repeat;
  width: 24px;
  height: 24px;
  background-size: 100%; }

.review-blue {
  background: url(../img/review-blue.svg) no-repeat;
  width: 24px;
  height: 24px;
  background-size: 100%; }

.cart {
  background: url(../img/cart.svg) no-repeat;
  width: 18px;
  height: 18px;
  background-size: 100%; }

.close {
  background: url(../img/close.svg) no-repeat;
  width: 18px;
  height: 18px;
  background-size: 100%; }

.google {
  background: url(../img/google.svg) no-repeat;
  width: 20px;
  height: 20px;
  background-size: 100%; }

.product {
  background: url(../img/icon-product.png) no-repeat;
  width: 24px;
  height: 24px;
  background-size: 100%; }

.toko {
  background: url(../img/icon-toko.png) no-repeat;
  width: 24px;
  height: 24px;
  background-size: 100%; }

.nav-tabs .product,
.nav-tabs .toko {
  margin-right: 6px; }

.search {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.38);
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 11px; }

.social-media-icons {
  position: relative;
  z-index: 1;
  float: right;
  width: 306px;
  height: 48px;
  border-radius: 24px;
  background-color: #ffffff;
  padding: 2px 25px;
  margin-top: 24px; }
  .social-media-icons p {
    position: relative;
    margin: 10px 16px 0px 0px;
    color: rgba(0, 0, 0, 0.7);
    display: block;
    float: left;
    font-size: 14px;
    font-family: 'Lato-Bold',sans-serif; }
  .social-media-icons .fa {
    padding: 6px;
    font-size: 20px;
    width: 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%; }
  .social-media-icons .fa:hover {
    opacity: 0.7; }
  .social-media-icons .fa-facebook {
    background: #3B5998;
    color: white; }
  .social-media-icons .fa-twitter {
    background: #55ACEE;
    color: white; }
  .social-media-icons .fa-google-plus {
    background: #dc4e41;
    color: white; }
  .social-media-icons .fa-whatsapp {
    background: #1bd741;
    color: white; }
  .social-media-icons .fa-linkedin {
    background: #007bb5;
    color: white; }
  .social-media-icons .fa-youtube {
    background: #bb0000;
    color: white; }
  .social-media-icons .fa-instagram {
    background: #125688;
    color: white; }
  .social-media-icons .fa-pinterest {
    background: #cb2027;
    color: white; }
  .social-media-icons .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
  .social-media-icons .fa-skype {
    background: #00aff0;
    color: white; }
  .social-media-icons .fa-android {
    background: #a4c639;
    color: white; }
  .social-media-icons .fa-dribbble {
    background: #ea4c89;
    color: white; }
  .social-media-icons .fa-vimeo {
    background: #45bbff;
    color: white; }
  .social-media-icons .fa-tumblr {
    background: #2c4762;
    color: white; }
  .social-media-icons .fa-vine {
    background: #00b489;
    color: white; }
  .social-media-icons .fa-foursquare {
    background: #45bbff;
    color: white; }
  .social-media-icons .fa-stumbleupon {
    background: #eb4924;
    color: white; }
  .social-media-icons .fa-flickr {
    background: #f40083;
    color: white; }
  .social-media-icons .fa-yahoo {
    background: #430297;
    color: white; }
  .social-media-icons .fa-soundcloud {
    background: #ff5500;
    color: white; }
  .social-media-icons .fa-reddit {
    background: #ff5700;
    color: white; }
  .social-media-icons .fa-rss {
    background: #ff6600;
    color: white; }

/*****************************/
/*****************************/
/****       HEADER        ****/
/*****************************/
/*****************************/
.sticky-top {
  width: 100%;
  height: 32px;
  background-color: #f8f8f8;
  overflow: hidden; }
  .sticky-top ul.left {
    position: relative;
    display: block;
    float: left; }
  .sticky-top ul.right {
    position: relative;
    display: block;
    float: right; }
  .sticky-top ul li {
    display: block;
    float: left;
    margin: 0 7px;
    padding: 6px 0px; }
    .sticky-top ul li a {
      font-size: 12px;
      font-family: 'OpenSans-Regular',sans-serif;
      color: rgba(0, 0, 0, 0.38);
      text-decoration: none; }
    .sticky-top ul li a:hover {
      text-decoration: none; }
  .sticky-top ul li.active {
    padding: 8px 16px;
    background: #005fba; }
    .sticky-top ul li.active a {
      color: #fff; }

.navbar {
  width: 100%;
  height: 81px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  display: inline-block;
  margin: 0;
  z-index: 999; }
  .navbar .brand {
    position: relative;
    display: block;
    padding-top: 10px;
    float: left; }
  .navbar ul.right {
    position: relative;
    display: block;
    float: right;
    margin-top: 26px; }
  .navbar ul.left {
    position: relative;
    display: block;
    float: left;
    margin-top: 26px;
    margin-left: 29px; }
  .navbar ul li {
    display: block;
    float: left;
    margin: 0 8px;
    padding: 6px 0px; }
    .navbar ul li a {
      font-size: 12px;
      font-family: 'OpenSans-Regular',sans-serif;
      color: rgba(0, 0, 0, 0.38);
      text-decoration: none; }
    .navbar ul li a:hover {
      text-decoration: none; }

.notification-cart {
  position: absolute;
  width: 18px;
  height: 14px;
  border-radius: 18px;
  background-color: #e73a3a;
  color: #fff;
  font-size: 9px;
  font-family: 'Lato-Bold';
  border: 1px solid #fff;
  text-align: center;
  padding-top: 0px;
  left: 16px;
  bottom: 16px; }

.sign-up {
  padding: 8px 16px !important;
  border: 1px solid #3ea9f5;
  border-radius: 4px; }

.navbar ul li.dropdown a {
  color: rgba(0, 0, 0, 0.54); }

.dropdown .fa-angle-down {
  position: relative;
  font-size: 18px;
  top: 3px;
  margin-left: 10px;
  color: #666; }

.search-navbar {
  width: 639px;
  position: relative;
  display: block;
  height: 48px;
  float: left;
  margin-top: 24px;
  margin-left: 40px; }

.cart-item {
  position: absolute;
  top: 53px;
  right: 0;
  width: 400px;
  height: 376px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.7); }
  .cart-item .wrapper {
    height: 350px;
    overflow-y: auto; }
  .cart-item .list {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    padding: 16px;
    display: inline-block;
    width: 100%; }
    .cart-item .list p {
      float: left;
      width: 203px;
      display: block; }
  .cart-item .img-cart {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
    float: left;
    margin-right: 8px; }
    .cart-item .img-cart img {
      width: 100%;
      height: 100%;
      -o-object-fit: content;
      object-fit: content; }
  .cart-item .quantity {
    float: right; }
    .cart-item .quantity span {
      display: block;
      width: 100%;
      font-size: 12px; }
  .cart-item .show-all-cart {
    position: relative;
    width: 100%;
    height: 32px;
    display: inline-block;
    bottom: 8px;
    padding: 10px 0px; }
    .cart-item .show-all-cart a {
      color: #42b549;
      font-size: 12px;
      position: relative; }

#header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/bg1.jpg) no-repeat;
  background-size: 100%;
  display: inline-block;
  bottom: 5px; }

.toko-wrapper {
  position: relative;
  height: 396px;
  overflow: hidden; }

.background-toko {
  position: relative;
  width: 100%;
  height: 320px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; }

.background-toko::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.24); }

.profile-wrapper {
  position: relative;
  bottom: 80px; }
  .profile-wrapper h4 {
    font-size: 20px;
    color: #fff;
    font-family: 'Lato-Bold'; }
  .profile-wrapper .btn {
    padding: 3px 8px; }
  .profile-wrapper p {
    margin-top: 28px; }

.profile-toko {
  position: relative;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden;
  float: left;
  margin-right: 16px; }
  .profile-toko img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain; }

.breadcrumb {
  background-color: unset; }
  .breadcrumb li a {
    display: unset;
    font-family: 'OpenSans-Regular',sans-serif;
    font-size: 12px;
    color: #005fba; }
  .breadcrumb .active {
    font-family: 'OpenSans-Regular',sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54); }

.breadcrumb > li + li:before {
  padding: 0px 11px; }

/*****************************/
/*****************************/
/**** CUSTOM PRODUCT CARD ****/
/*****************************/
/*****************************/
.product-card {
  height: 324px;
  background: #fff; }

.img-product-sm {
  width: 200px;
  height: 200px;
  border-radius: 4px;
  overflow: hidden; }

.img-product-sm img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-fit: contain;
  object-fit: contain; }

.img-product-md {
  width: 215px;
  height: 215px;
  border-radius: 4px;
  overflow: hidden; }

.img-product-md img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-fit: contain;
  object-fit: contain; }

.label-diskon {
  padding: 3px 8px;
  background: #EF0F0F;
  color: #fff;
  border-radius: 4px;
  font-family: 'Lato-Bold';
  font-size: 10px; }

.card-sm {
  width: 215px;
  height: 215px;
  background: #e0e0e0;
  border-radius: 4px;
  background-size: 100%;
  background-repeat: no-repeat;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-fit: contain;
  object-fit: contain;
  overflow: hidden; }
  .card-sm img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .card-sm a {
    margin: 0;
    text-decoration: none; }
  .card-sm a:hover {
    text-decoration: none; }
  .card-sm .show-all {
    position: relative;
    top: 145px;
    width: 100%;
    height: 37px;
    border: solid 1px #fff;
    background-color: rgba(255, 255, 255, 0.9);
    display: none; }
    .card-sm .show-all a {
      font-family: 'Lato-Bold',sans-serif;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.54);
      padding: 10px 16px;
      display: inline-block; }
    .card-sm .show-all .fa-angle-right {
      font-size: 18px;
      float: right;
      position: relative;
      top: 13px;
      right: 11px; }
  .card-sm .desc-card {
    position: relative;
    width: 100%;
    display: inline-block;
    bottom: 47px;
    padding-left: 16px; }
    .card-sm .desc-card .img-store {
      position: relative;
      width: 32px;
      height: 32px;
      display: block;
      float: left;
      margin-right: 10px; }
      .card-sm .desc-card .img-store img {
        border-radius: 32px;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-fit: contain;
        object-fit: contain; }
    .card-sm .desc-card p {
      margin: 0;
      padding: 0;
      line-height: normal; }
    .card-sm .desc-card .name-store {
      font-size: 14px;
      font-family: 'Lato-Bold';
      color: #fff; }
    .card-sm .desc-card .loc-store {
      font-size: 12px;
      color: #fff; }

#result_produk .card-sm {
  width: 200px;
  height: 200px; }

#result_produk .col-md-3 {
  padding: 0; }

#result_toko .col-md-4 {
  padding: 0; }

.col-margin .col-md-4 {
  margin-top: 24px; }

.col-margin .col-md-3 {
  margin-top: 24px;
  margin-right: 0px; }

#result_toko .card-sm {
  width: 275px;
  height: 200px; }

#result_toko .card-sm::before {
  position: absolute;
  width: 275px;
  height: 200px;
  content: "";
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.69)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.69));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.69));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.69));
  border-radius: 4px; }

#category .card-sm:hover .show-all {
  display: block; }

.category {
  position: relative;
  left: 114px;
  top: 8px;
  padding: 8px 16px;
  background: #fff;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Lato-Regular',sans-serif;
  color: rgba(0, 0, 0, 0.7);
  width: 93px;
  height: 35px;
  border-radius: 23px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px #e0e0e0;
  display: block; }

.card-lg {
  width: 100%;
  height: 374px;
  border-radius: 4px;
  background: #e0e0e0;
  background-size: 100%;
  background-repeat: no-repeat; }

.card-xs {
  width: 175px;
  height: 175px;
  border-radius: 4px;
  background: #e0e0e0;
  background-size: 100%;
  background-repeat: no-repeat; }

.card-md {
  width: 374px;
  height: 220px;
  border-radius: 4px;
  background: #e0e0e0;
  background-size: 100%;
  background-repeat: no-repeat; }

.rate {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  float: left; }

.rating span {
  color: rgba(0, 0, 0, 0.38); }

.rating input {
  display: none; }

.rating label {
  float: right;
  font-size: 0;
  color: #d9d9d9;
  margin-right: 3px; }

.rating label:before {
  content: "\f005";
  font-family: FontAwesome;
  font-size: 14px; }

.rating label:hover,
.rating label:hover ~ label {
  color: #fcd000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.rating input:checked ~ label {
  color: #ffc107; }

.rating input:checked ~ label:hover,
.rating input:checked ~ label:hover ~ label {
  color: #fcd000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.price {
  font-family: 'Lato-Bold',sans-serif;
  color: #f57224; }

.city {
  color: rgba(0, 0, 0, 0.38); }

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  outline: none;
  top: 88px; }
  .owl-carousel .owl-nav button.owl-next span, .owl-carousel .owl-nav button.owl-prev span {
    position: relative;
    bottom: 9px;
    font-size: 36px;
    color: #e0e0e0; }

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #f7f7f7; }

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: -25px; }

.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: -25px; }

.nav-tabs {
  border-bottom: 1px solid #e0e0e0; }

.nav-tabs > li > a {
  font-family: 'Lato-Bold',sans-serif;
  font-size: 16px;
  margin: 0;
  line-height: normal;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0;
  padding: 10px 16px; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #005fba;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #005fba; }

.xzoom-thumbs {
  text-align: unset; }

.xzoom-thumbs a {
  display: inline-block; }

.xzoom {
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
  border-radius: 3px;
  border: solid 1px #e0e0e0;
  padding: 4px; }

.xzoom-gallery {
  padding: 3px;
  border-radius: 3px;
  border: solid 1px #e0e0e0; }

.card-lg .title {
  font-family: 'Lato-Light';
  font-size: 48px;
  color: rgba(0, 0, 0, 0.7);
  display: block; }

.card-lg .sub-title {
  font-family: 'Lato-Light';
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7);
  display: block; }

.card-xs .title {
  font-family: 'Lato-Regular';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  display: block; }

.card-xs .sub-title {
  font-family: 'Lato-Regular';
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  display: block; }

.card-xs .price {
  font-size: 16px; }

.item .detail-price .discount s {
  font-size: 11px; }

#filter {
  position: absolute;
  width: 258px;
  height: 100%;
  margin-top: 25px; }
  #filter #category {
    border-bottom: 1px solid #e0e0e0; }
  #filter .header {
    position: relative;
    height: 52px;
    width: 100%; }
    #filter .header a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
      background: #ffffff;
      text-align: left;
      padding: 16px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      white-space: nowrap;
      cursor: pointer;
      border-radius: 4px;
      font-size: 14px;
      font-family: 'Lato-Bold',sans-serif;
      color: rgba(0, 0, 0, 0.7); }
  #filter .fixed-header {
    position: fixed;
    height: 54px;
    width: 258px;
    border: 1px solid #e0e0e0;
    z-index: 999;
    margin-left: -1px; }
  #filter .form-group {
    padding: 0px 16px; }
  #filter .category-item {
    position: relative; }
    #filter .category-item .category-name {
      position: relative;
      display: block;
      width: 100%;
      padding: 8px 16px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      font-size: 14px;
      font-family: 'Lato-Regular',sans-serif;
      color: rgba(0, 0, 0, 0.54); }
    #filter .category-item input {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      display: block; }
    #filter .category-item .arrow-up {
      background: none;
      border: none;
      position: relative;
      float: right;
      outline: none; }
  #filter .sub-category {
    position: relative; }
    #filter .sub-category .category-name {
      position: relative;
      display: block;
      width: 100%;
      padding-left: 32px;
      padding-bottom: 8px;
      padding-top: 8px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      font-size: 14px;
      font-family: 'Lato-Regular',sans-serif;
      color: rgba(0, 0, 0, 0.54); }
    #filter .sub-category input {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      display: block; }
    #filter .sub-category .arrow-up {
      background: none;
      border: none;
      position: relative;
      float: right;
      outline: none; }

.arrow-up-down {
  position: relative;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.display {
  display: block; }

.not-display {
  display: none; }

.empty-space {
  display: block;
  position: fixed;
  top: 81px;
  left: -1px;
  right: -1px;
  height: 24px;
  background: #ffffff;
  z-index: 9; }

.border {
  border: 1px solid #e0e0e0;
  border-radius: 4px; }

#sidebar .owner-toko {
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 16px; }
  #sidebar .owner-toko img {
    width: 60px;
    height: 60px;
    border-radius: 3px; }

#sidebar .rating {
  display: inline-block;
  position: relative;
  left: 64px; }
  #sidebar .rating form {
    float: left; }
  #sidebar .rating span {
    float: left; }

#sidebar .dukungan-pengiriman {
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 16px; }
  #sidebar .dukungan-pengiriman img {
    width: 40px; }

#sidebar ul,
#sidebar li {
  font-family: "OpenSans-Regular";
  font-size: 11px;
  color: rgba(0, 0, 0, 0.7);
  padding: 0;
  margin: 0;
  list-style: none; }

#sidebar ul {
  margin: 2em 0; }

#sidebar li {
  margin: 1em;
  margin-left: 3em; }

#sidebar li:before {
  content: '\f00c';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #666; }

#sidebar .social-media-icons {
  margin: 0;
  position: relative;
  float: unset;
  border-radius: 0;
  padding: 0; }
  #sidebar .social-media-icons .fa {
    border-radius: 3px; }

.color input[type="radio"] {
  display: none; }
  .color input[type="radio"]:checked + label span::before {
    background: #c8e4ff;
    border: 1px solid #0068cc; }

.color label {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 26px;
  cursor: pointer; }
  .color label:hover span::before {
    background: #c8e4ff;
    border: 1px solid #0068cc; }
  .color label span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out; }
    .color label span.red {
      background: #DB2828;
      border-radius: 100%; }
    .color label span.orange {
      background: #F2711C;
      border-radius: 100%; }
    .color label span.yellow {
      background: #FBBD08;
      border-radius: 100%; }
    .color label span.olive {
      background: #B5CC18;
      border-radius: 100%; }
    .color label span.green {
      background: #21BA45;
      border-radius: 100%; }
    .color label span.teal {
      background: #00B5AD;
      border-radius: 100%; }
    .color label span.blue {
      background: #2185D0;
      border-radius: 100%; }
    .color label span.violet {
      background: #6435C9;
      border-radius: 100%; }
    .color label span.purple {
      background: #A333C8;
      border-radius: 100%; }
    .color label span.pink {
      background: #E03997;
      border-radius: 100%; }
    .color label span.black {
      background: #302e2b;
      border-radius: 100%; }
    .color label span.peach {
      background: #f0b088;
      border-radius: 100%; }
    .color label span.grey {
      background: #ebe9e9;
      border-radius: 100%; }
  .color label span::before {
    position: absolute;
    display: block;
    content: "";
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 100%;
    border: 1px solid #e0e0e0;
    left: 0;
    z-index: -1;
    margin: -7px -7px; }

.size input[type="radio"] {
  display: none; }
  .size input[type="radio"]:checked + label {
    background: #c8e4ff;
    border: 1px solid #0068cc; }

.size label {
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  width: 45px;
  height: 32px;
  text-align: center;
  border-radius: 18px;
  padding: 4px 0px; }
  .size label:hover {
    background: #c8e4ff;
    border: 1px solid #0068cc; }

.detail-price .discount {
  font-family: 'OpenSans-Regular';
  color: rgba(0, 0, 0, 0.38); }
  .detail-price .discount s {
    font-size: 16px; }

.detail-price .percentage {
  font-family: 'OpenSans-Bold';
  font-size: 10px;
  color: #fff;
  width: 57px;
  height: 20px;
  border-radius: 4px;
  background-color: #c62525;
  padding: 3px 8px;
  vertical-align: middle; }

.detail-price .total {
  font-family: 'OpenSans-Bold';
  font-size: 24px;
  color: #f57224; }

.scan-qr {
  width: 470px;
  height: 104px;
  border-radius: 4px;
  border: solid 1px #e0e0e0; }
  .scan-qr .qr-code {
    float: left;
    display: block;
    width: 89px;
    height: 89px;
    background: #e0e0e0;
    margin: 7px; }

.information {
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 8px 0px;
  float: left; }
  .information .list {
    width: 145px;
    position: relative;
    float: left;
    display: block;
    padding-left: 36px; }
    .information .list input {
      border: none;
      position: relative;
      width: 100%;
      outline: none; }
  .information .line-vertical-sm {
    position: absolute; }
  .information .line-vertical-sm-full {
    position: absolute;
    height: 100%; }

.left {
  float: left; }

.super {
  font-family: 'OpenSans-Regular';
  font-size: 11px;
  color: rgba(0, 0, 0, 0.54); }

#estimated .list {
  padding-left: 16px; }

.wrap-comment {
  position: relative;
  border-radius: 3px;
  border: solid 1px #e4e4e4;
  float: left;
  width: 100%;
  display: inline-block;
  padding: 15px;
  margin-bottom: 16px; }
  .wrap-comment .info-comment {
    position: relative;
    display: inline-block; }
  .wrap-comment .profile {
    position: relative;
    width: 35px;
    height: 35px;
    float: left; }
    .wrap-comment .profile img {
      border-radius: 32px;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-fit: contain;
      object-fit: contain; }
  .wrap-comment .profile-rounded {
    position: relative;
    width: 35px;
    height: 35px;
    float: left; }
    .wrap-comment .profile-rounded img {
      border-radius: 3px;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-fit: contain;
      object-fit: contain; }
  .wrap-comment .desc {
    position: relative;
    float: left;
    margin-left: 10px; }
    .wrap-comment .desc .comment-name {
      font-family: "OpenSans-Bold";
      color: rgba(0, 0, 0, 0.7);
      font-size: 12px; }
    .wrap-comment .desc .comment-date {
      font-family: "OpenSans-Regular";
      font-size: 12px;
      color: rgba(0, 0, 0, 0.38); }
  .wrap-comment .body-comment {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%; }
  .wrap-comment .reply-comment {
    position: relative;
    left: 0;
    width: 100%;
    background: #fafafa;
    padding-left: 50px; }
  .wrap-comment .footer-comment p {
    display: block;
    font-family: 'OpenSans-Regular';
    font-size: 11px;
    float: left;
    margin-top: 18px; }
  .wrap-comment .footer-comment .icon {
    width: 11px;
    height: 11px;
    margin-right: 4px;
    top: 2px; }
  .wrap-comment .footer-comment button {
    margin-top: 10px;
    display: block;
    float: left;
    font-family: 'OpenSans-Regular';
    font-size: 11px;
    color: rgba(0, 0, 0, 0.54);
    margin-left: 16px;
    margin-right: 10px; }

#diskusi .wrap-comment {
  padding: 0; }

#diskusi .info-comment {
  padding: 15px 15px 0px 15px; }

#diskusi .body-comment {
  padding-left: 15px;
  padding-top: 15px; }

#diskusi .reply-comment {
  padding-top: 15px;
  border-bottom: 1px solid #e4e4e4; }
  #diskusi .reply-comment .body-comment {
    padding-left: 0;
    padding-top: 15px; }

#diskusi .form-group {
  width: 90%; }

.tag-red {
  background: #b94a48;
  color: #fff; }

.tag-sm {
  font-family: 'OpenSans-Regular';
  font-size: 8px;
  border-radius: 2px;
  padding: 4px; }

#footer {
  position: relative;
  display: inline-block;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 50px;
  padding-bottom: 24px;
  z-index: 999;
  background-color: #fff; }
  #footer .footer-sticky {
    position: relative;
    padding-top: 24px; }
  #footer ul {
    position: relative;
    margin-top: 16px; }
  #footer ul li {
    display: inline; }
    #footer ul li a {
      font-family: 'Lato-Regular',sans-serif;
      color: #a0a0a0;
      text-decoration: none;
      margin-bottom: 10px; }
  #footer .copyright {
    position: relative;
    display: block;
    float: left; }
  #footer .social-media {
    position: relative;
    float: right;
    display: block; }
    #footer .social-media a {
      float: left;
      margin-right: 5px; }
